<html>
<head><h1 style="text-align:center;color:blue;font-size:x-large;">SYSTECH GROUP</h1></head>
<style>
	table{
		border-color:yellow;border-spacing:10px;}
	th{
		color:blue;
		border-color:white;}</style>
<center>
<body>
<h2>style="color:red"</h2>
<form method="POST" style="color:blue">
	{%csrf_token%}
	ACCOUNT NO: <input type="text" name="acno" value="{{b.acno}}"><br>
	HOLDER Name: <input type="text" name="name" value="{{b.name}}"><br>
	DEPOIST AMOUNT: <input type="text" name="depamnt" value="{{b.depamnt}}"><br>
	AVAILABLE AMOUNT: <input type="text" name="bal" value="{{b.bal}"><br>

	<input type="submit" values="UPDATE RECORD">

</form>
</body>
</center>
</html>